.w-img-bw-me {
    width: 100px;
}

.h-img-bw-me {
    height: 100px;
}

.bor-and-me {
    border-radius: 10px !important;
    
}

.bor-and-t-me {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
   
}

.pa-ra-me {
    top: -5rem;
    left: 2rem;
    border-radius: 50%;
}

.b-rad{
    border-radius: 50%;
}

.fotoExp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}