.ucFooter a{
    list-style: none;
    color: gray;
    text-decoration: none;
}
.ucFooter a:hover{
    color:#1966C2;
    text-decoration: underline;
}
.ucFooter li{
    list-style: none;
}

.footer{
   background-color: #F4F2EE
}