.logo{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.btn:hover {
    color: gray !important;
    background-color: white !important;
    border-color: white !important;
    
}

.fontSize{
    font-size: 12px;
}

.avatar{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.bg-pp{
    background-color: #F4F2EE;
}

@media (min-width: 768px){
    .formWidth{
        width: 18rem;
    }
}

@media (max-width: 768px){
    .formWidth{
        width: 5rem;
    }
}

.overF{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}